:root {
  font-size: 10px;
  font-family: 'Source Sans Pro', 'Times New Roman';

  /*Color Variables*/
  --primary-color: #566573;
  --secondary-color: #f2cb05;
  --dark-secondary-color: #f2ac29;
  --text-color: #0d0d0d;
  --background-color: #c8c7be;
  --hover-color: #2f3940;
  --footer-color: #6d716c;
}

/*=====MEDIA QUERIES=====*/

@media (max-width: 1000px) {
  /*=====GERAL=====*/

  main .container-main div,
  #contact .container-contact div {
    margin: auto;
  }

  main .container-main img,
  #contact .container-contact img {
    display: none;
  }

  h2 {
    margin-left: 50px;
  }

  div h3 {
    margin-left: 50px;
  }

  form {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    flex-direction: column;
  }

  input {
    margin: 12px;
  }

  .container {
    padding: 0px 20px;
  }
}

@media (max-width: 630px) {
  /*=====GERAL=====*/

  main .container-menu img,
  #contact .container-contact img {
    display: none;
  }

  /*=====MENU EXPANDED=====*/

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    margin-top: 30px;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    left: 100%;
    transform: translateX(100vw);
    transition: 0.5s ease transform;
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .menu li a {
    flex: 1;
    text-align: center;
  }

  /*=====ICON ANIMATION=====*/

  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }

  label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 30px;
    transition: 0.25s ease-in-out;
  }

  label span:nth-child(1) {
    top: 0;
  }

  label span:nth-child(2) {
    top: 8px;
  }

  label span:nth-child(3) {
    top: 16px;
  }

  #checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }

  #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
  }

  #checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  nav.menu {
    width: 100%;
  }

  #checkbox-menu:checked ~ nav .menu {
    transform: translateX(-100vw);
    transition: 0.5s ease transform;
  }
}
